<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook</title>
</head>

<body>
    <table width="100%" cellspacing="0">
        <tr bgcolor="#3b5998">
            <td>
                <img src="{% static 'images/fb.jpg' %}" width="250 "></td>
            <td>
                <input type="text ">
                <input type="text ">
                <input type="button " name="btn_login " value="Login ">
            </td>
            <!-- <td></td> -->
        </tr>

        <tr bgcolor="#edfof5 " height="600px ">
            <td valign="top " align="center ">
                <table border="0 " width="80% ">
                    <tr>
                        <td>
                            <h2>
                                <font face="verdana ">Connect with friends and the world around you on Facebook.</font>
                            </h2>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <font face="verdana "><br><br>
                                <img src="fb1.jpg " width="50 "> See photos and updates from friends in News Feed.<br><br>
                                <img src="fb2.jpg " width="50 "> Share what's new in your life on your Timeline.<br><br>
                                <img src="fb3.jpg " width="50 "> Find more of what you're looking with Graph search.<br><br>
                            </font>
                        </td>
                    </tr>
                </table>
            </td>

            <td valign="top " align="center ">
                <h1>Sign up</h1>

                <table border="0 " cellspacing="10 ">
                    <tr>
                        <td><input type="text " placeholder="First Name "></td>
                        <td align="left "><input type="text " placeholder="Last Name "></td>
                    </tr>
                    <tr>
                        <td><input type="text " placeholder="Mobile Number "></td>
                    </tr>
                    <tr>
                        <td><input type="text " placeholder="Email "></td>
                    </tr>
                    <tr>
                        <td><input type="password " placeholder="Password "></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>